@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
/*@import "./dataTables.tailwindcss.css";*/

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';



@theme {
    --font-inter: 'Inter', sans-serif;
}
* {
    font-family: 'Inter', sans-serif;
}

.active_link {
    color: #007aff;
}

.ku_input {
    @apply border-2 border-gray-400 bg-white outline-0 rounded-md px-5 py-2 focus:border-blue-600 focus:border-3 w-full
}

.ku_select {
    @apply border-2 border-gray-400 bg-white outline-0 rounded-md px-6 py-2.5 focus:border-blue-600 focus:border-3 w-full
}

.ku_card {
    @apply shadow-md border-2 border-gray-100 p-5
}
